.root {
  border-radius: 3px;
  background-color: var(--color-text-white);
  height: 70px;
  width: 100%;
  cursor: pointer;
  transition: box-shadow .3ms ease;
  position: relative;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 3px 0 0 3px;
  }

  &:nth-child(4n + 1):before {
    background-color: var(--color-accent-pink);
  }

  &:nth-child(4n + 2):before {
    background-color: var(--color-accent-lavender-light);
  }

  &:nth-child(4n + 3):before {
    background-color: var(--color-accent-lavender);
  }

  &:nth-child(4n + 4):before {
    background-color: var(--color-accent-pink);
  }

  td {
    padding-top: 20px;
    padding-bottom: 20px;

    &:first-child {
      padding-left: 11px;
    }

    &:last-child {
      text-align: right;
      padding-right: 12px;
    }
  }

  .name {
    font: var(--font-table-column-name);
    color: var(--color-text);
  }

  .type,
  .site {
    font: var(--font-table-column-type);
    color: var(--color-text-medium);
  }

  .status {
    font: var(--font-table-column-status);
  }

  .site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 0;
  }
}

.draft {
  color: var(--color-text-medium);
}

.online {
  color: var(--color-accent-green);
}

.paused {
  color: var(--color-accent-orange);
}

.stopped {
  color: var(--color-accent-red);
}
