.root {
  border-radius: 3px;
  background-color: var(--color-text-white);
  height: 70px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }

  td {
    padding: 20px 0;

    &:first-child {
      padding-left: 12px;
      position: relative;
      background-color: transparent;

      &:hover {
        box-shadow: none;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        border-radius: 3px 0 0 3px;
        transition: background-color 0.3s ease;
      }

      &.pink::before {
        background-color: var(--color-accent-pink);
      }

      &.lavender-light::before {
        background-color: var(--color-accent-lavender-light);
      }

      &.lavender::before {
        background-color: var(--color-accent-lavender);
      }
    }
  }

  .button {
    margin-left: auto;
    padding-right: 12px;
    border-radius: 0 3px 3px 0;
  }

  .name {
    font: var(--font-table-column-name);
    color: var(--color-text);
  }

  .type,
  .site {
    font: var(--font-table-column-type);
    color: var(--color-text-medium);
  }

  .status {
    font: var(--font-table-column-status);
  }
}

.draft {
  color: var(--color-text-medium);
}

.online {
  color: var(--color-accent-green);
}

.paused {
  color: var(--color-accent-orange);
}

.stopped {
  color: var(--color-accent-red);
}

