.root {
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-button);
  border-radius: 10px;
  color: var(--color-text-white);
  width: 95px;
  height: 30px;
  padding: 5px 0;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 4px 2px var(--color-accent-lavender);
  }
}

.results {
  background-color: var(--color-accent-green);
}

.finalize {
  background-color: var(--color-accent-gray);
}

