.root {
  font: var(--font-table-header);
  color: var(--color-text-light);


  td {
    padding-bottom: 10px;

    &:first-child {
      padding-left: 12px;
    }
  }

  p {
    width: fit-content;
    cursor: pointer;
    text-transform: uppercase;
  }

  .chevron {
    display: flex;
    gap: 8px;
    align-items: center;

    svg {
      transition: transform 0.2s ease-in-out;
    }
  }

  .rotated {
    transform: rotate(180deg);
  }
}